<app-header></app-header>
<section class="about_banner">
    <div class="container">
        <div class="common_heading_banner">
            <h1>Contact Us</h1>
            <p class="bread_wrap"><a href="#" class="home_bread">Home</a> / Contact us</p>
        </div>
    </div>
</section>
<section class="common_padding taste_abt">
    <div class="container">
        <div class="heading_main">
            <h3>Contact us</h3>
            <p>At volutpat diam ut venenatis tellus in metus vulputate sit set ramet sagit.</p>
            <img src="../../assets/img/star-img.png" class="img-fluid">
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="info_contact">
                   <ul>
                       <li>
                           <h4><i class="fa fa-phone"></i> Call Us</h4>
                           <p><a href="tel:8742987005">+91- 8742987005</a></p>
                       </li>
                       <li>
                        <h4><i class="fa fa-envelope"></i> Email Us</h4>
                        <p><a href="tel:8742987005">anjanipandeycsp@gmail.com</a></p>
                    </li>
                    <li>
                        <h4><i class="fa fa-map-marker"></i> Address</h4>
                        <p>Sec 56, Noida, UP</p>
                    </li>
                   </ul>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form_wrap_cont">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                   <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                   <button type="submit" class="btn btn-primary submit_contact w-25">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>        
<app-footer></app-footer>
